.about-us(id='about_us')
    .about-us__container
        .about-us__info
            .about-us__top
                .about-us__top__block
            .about-us__middle
                .about-us__middle__block-blue
                .about-us__middle__txt Компания<br> «<span>SIMplex cleaning</span>»<br> оказывает клининговые услуги всех видов помещений для физических и юридических лиц. Если вам нужно убрать в помещении после ремонта, подготовить квартиру к появлению малыша, поддерживать чистоту и порядок в офисе или дома - наши специалисты вам помогут. Мы берем на себя полную ответственность за имущество в месте проведения работ с возмещением ущерба
                .about-us__middle__block-yellow 
            .about-us__bottom
                .about-us__bottom__block