.advantages
    .advantages__container
        ul.advantages__list
            li.advantages__list__item.advantages__list__item-1
                .advantages__list__item__image
                    img(src="../img/adv-1.png", alt="")
                .advantages__list__item__title Профессиональная<br>техника
                .advantages__list__item__txt Мы работаем<br>с профессиональной<br>техникой и химией<br>ведущих<br>производителей
            li.advantages__list__item
                .advantages__list__item__image
                    img(src="../img/adv-2.png", alt="")
                .advantages__list__item__title Обученный<br>персонал
                .advantages__list__item__txt Наши клинеры знают<br>как очистить любую<br>поверхность быстро и<br>качественно, не<br>повредив ее
            li.advantages__list__item
                .advantages__list__item__image
                    img(src="../img/adv-3.png", alt="")
                .advantages__list__item__title Всегда на связи
                .advantages__list__item__txt-2 Наша команда<br>готова принять ваш<br>заказ в любое<br>время, на связи 24/7
            li.advantages__list__item
                .advantages__list__item__image
                    img(src="../img/adv-4.png", alt="")
                .advantages__list__item__title Довольные клиенты
                .advantages__list__item__txt-2 Большое<br>количество<br>отзывов от наших<br>клиентов
        