.colors
    .colors__container
        .colors__title Цветовое кодирование
        .colors__txt
            .colors__txt__block В нашей компании клинеры обучены основам цветного кодирования и используют его в работе. Вы сможете проконтролировать использование инвентаря и протирочного материала и быть уверены в гигиеничности уборки
            .colors__txt__block Цветовое кодирование позволяет избежать перекрестного загрязнения,  делает сам процесс уборки наиболее эффективным и поддерживает гигиену в тех местах, где производится уборка. 
        .colors__points 
            .colors__points__block
                .colors__points__block__point
                    .colors__points__block__point__image
                        img(src="../img/color-1.svg", alt="")  
                    .colors__points__block__point__txt Красный инвентарь и протирочные материалы используют в наиболее загрязнённых зонах, с большим количеством бактерий: санузел, душевые. 
                .colors__points__block__point
                    .colors__points__block__point__image
                        img(src="../img/color-2.svg", alt="")  
                    .colors__points__block__point__txt Зелёный предназначен для уборки мест приготовления пищи, продуктовых отделов в магазине и на пищевом производстве. 
            .colors__points__block
                .colors__points__block__point
                    .colors__points__block__point__image
                        img(src="../img/color-3.svg", alt="")  
                    .colors__points__block__point__txt Желтый цвет используют для иных поверхностей в санитарных зонах: шкафы, стены, перегородки, диспенсеры.
                .colors__points__block__point
                    .colors__points__block__point__image
                        img(src="../img/color-4.svg", alt="")  
                    .colors__points__block__point__txt Синий цвет применяют для очищения полезной и транспортной зоны: мебель, оргтехника, коридоры, двери, лифты, перегородки, поручни, окна. 