.footer
    .footer__container
        .footer__logos
            .footer__logos__logo-1
                img(src="../img/footer-logo-1.png", alt="")
            .footer__logos__logo-2 
                img(src="../img/footer-logo-2.png", alt="")
        .footer__content
            .footer__info
                .footer__info__txt клининг для тех, кто ценит своё время 
                .footer__info__links
                    ul.footer__info__links__list
                        li.footer__info__links__list__item 
                            a(href="") О нас
                        li.footer__info__links__list__item 
                            a(href="") Услуги
                        li.footer__info__links__list__item 
                            a(href="") Отзывы
                        li.footer__info__links__list__item 
                            a(href="") Контакты
                        li.footer__info__links__list__item 
                            a(href="") вакансии
                    .footer__info__links__social-media
                        a.footer__info__links__social-media__link(href="")
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33.9525 0H5.82709C2.614 0 0 2.614 0 5.82709V33.9525C0 37.1656 2.614 39.7796 5.82709 39.7796H18.7244V25.6392H14.4512V17.4813H18.7244V12.8196C18.7244 8.964 21.8613 5.82709 25.7169 5.82709H32.3209V13.985H26.8823V17.4813H32.5771L30.9455 25.6392H26.8823V39.7796H33.9525C37.1656 39.7796 39.7796 37.1656 39.7796 33.9525V5.82709C39.7796 2.614 37.1656 0 33.9525 0Z" fill="white" fill-opacity="0.8"/><path d="M29.7371 19.8119H24.5546V11.654H29.9932V8.15771H25.72C23.1494 8.15771 21.0584 10.2488 21.0584 12.8194V19.8119H16.7852V23.3081H21.0584V39.7794H24.5546V23.3081H29.0378L29.7371 19.8119Z" fill="white" fill-opacity="0.8"/></svg>
                        a.footer__info__links__social-media__link(href="")
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.6058 19.8898C23.6058 21.8206 22.0404 23.3861 20.1095 23.3861C18.1787 23.3861 16.6133 21.8206 16.6133 19.8898C16.6133 17.959 18.1787 16.3936 20.1095 16.3936C22.0404 16.3936 23.6058 17.959 23.6058 19.8898Z" fill="white" fill-opacity="0.8"/><path d="M26.0142 9.32324H14.2046C11.634 9.32324 9.54297 11.4143 9.54297 13.9849V25.7945C9.54297 28.3651 11.634 30.4562 14.2046 30.4562H26.0142C28.5848 30.4562 30.6759 28.3651 30.6759 25.7945V13.9849C30.6759 11.4143 28.5848 9.32324 26.0142 9.32324ZM20.1094 25.7168C16.8963 25.7168 14.2823 23.1028 14.2823 19.8897C14.2823 16.6766 16.8963 14.0626 20.1094 14.0626C23.3225 14.0626 25.9365 16.6766 25.9365 19.8897C25.9365 23.1028 23.3225 25.7168 20.1094 25.7168ZM26.7912 14.3734C26.1474 14.3734 25.6257 13.8517 25.6257 13.208C25.6257 12.5643 26.1474 12.0426 26.7912 12.0426C27.4349 12.0426 27.9566 12.5643 27.9566 13.208C27.9566 13.8517 27.4349 14.3734 26.7912 14.3734Z" fill="white" fill-opacity="0.8"/><path d="M29.5096 0H10.7075C4.92412 0 0.21875 4.70537 0.21875 10.4888V29.2908C0.21875 35.0742 4.92412 39.7796 10.7075 39.7796H29.5096C35.293 39.7796 39.9983 35.0742 39.9983 29.2908V10.4888C39.9983 4.70537 35.293 0 29.5096 0ZM33.0058 25.7946C33.0058 29.6502 29.8689 32.7871 26.0133 32.7871H14.2038C10.3482 32.7871 7.21126 29.6502 7.21126 25.7946V13.985C7.21126 10.1294 10.3482 6.99251 14.2038 6.99251H26.0133C29.8689 6.99251 33.0058 10.1294 33.0058 13.985V25.7946Z" fill="white" fill-opacity="0.8"/></svg>
            form.footer__form
                .footer__form__txt Для заказа услуги или консультации заполните форму
                .footer__form__block
                    .footer__form__block__label Имя
                    input(type="text")
                .footer__form__block
                    .footer__form__block__label Телефон
                    input(type="text")
                .footer__form__button
                    button отправить
            .footer__logo-2
                .footer__logo-2__image
                    img(src="../img/footer-logo-2.png", alt="")
            

