.form
    .form__container
        .form__info
            .form__info__txt Хочешь стать частью нашей команды отправь заявку, и наши специалисты свяжутся с вами в ближайшее время для консультации 
            .form__info__call или позвоните по номеру:
            a.form__info__tell(href="tel:+79856950505") 8(985)695-05-05
        form.form__form
            .form__form__block
                .form__form__block__label Имя
                input(type="text")
            .form__form__block
                .form__form__block__label Телефон
                input(type="text")
            .form__form__area
                .form__form__area__label Комментарий
                textarea(name="", cols="30", rows="10")
            .form__form__button
                button отправить 
        .form__call-mobile
            .form__call-mobile__txt или позвоните по номеру:
            a.form__call-mobile__tell(href="tel:+79856950505") 8(985)695-05-05


                
        