.mainscreen
    .mainscreen__container
        .mainscreen__title клининг для тех, кто ценит своё время 
        .mainscreen__subtitle Широкий спектр услуг по уборке всех видов помещений. 
        .mainscreen__logo
            img(src="../img/mainscreen-logo.png" alt="Логотип")
        .mainscreen__underlogo Для заказа услуги или консультации заполните форму
        .mainscreen__subtitle-mobile Широкий спектр услуг по уборке всех видов помещений.
        form.mainscreen__form
            .mainscreen__form__block
                .mainscreen__form__block__label Имя
                input
            .mainscreen__form__block
                .mainscreen__form__block__label Телефон
                input
            .mainscreen__form__button
                button отправить