.support(id="support")
    .support__body
        .support__content
            a.support__content__close(href="#header")
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.6"><path d="M31.5513 2.84106L29.3409 0.656839C28.7427 0.0587079 27.7545 0.0587079 27.1304 0.656839L16.104 11.683L4.86976 0.448793C4.27137 -0.149598 3.28315 -0.149598 2.65928 0.448793L0.448793 2.65928C-0.149598 3.25741 -0.149598 4.24562 0.448793 4.86976L11.6572 16.0782L0.656839 27.1306C0.0587079 27.7288 0.0587079 28.717 0.656839 29.3411L2.86732 31.5516C3.46545 32.1497 4.45367 32.1497 5.07781 31.5516L16.104 20.5252L27.1304 31.5516C27.7285 32.1497 28.7167 32.1497 29.3409 31.5516L31.5513 29.3411C32.1495 28.743 32.1495 27.7548 31.5513 27.1306L20.4989 16.1042L31.5253 5.07807C32.1495 4.45341 32.1495 3.46519 31.5513 2.84106Z" fill="white"/></g></svg>
            .support__content__title Поддерживающая уборка
            .support__content__txt На поддерживающую уборку Клинер приезжает самостоятельно, привозит с собой оборудование (необходимость пылесоса обговаривается заране): 
            ul.support__content__list
                li.support__content__list__item + комплект профессиональной химии
                li.support__content__list__item + протирочный материал ( комплект салфеток, согласно цветовому кодированию) 
                li.support__content__list__item + уборочный инвентарь ( швабры, мопы, ведро)
            .support__content__subtitle Что входит в поддерживающую уборку:
            ul.support__content__list
                li.support__content__list__item + Собрать и вынести мусор
                li.support__content__list__item + Собрать и сложить одежду
                li.support__content__list__item + Протереть светильники несложных конструкций
                li.support__content__list__item + Вытереть пыль со всех элементов декора и интерьера,с корпусной мебели, техники и расставить вещи по местам
                li.support__content__list__item + Очистить зеркала и стеклянные поверхности 
                li.support__content__list__item + Пропылесосить всю мягкую мебель
                li.support__content__list__item + Протереть подоконники и радиаторы
                li.support__content__list__item + Протереть кухонный фасад, фартук, вытяжку
                li.support__content__list__item + Помыть посуду в раковине
                li.support__content__list__item + Протереть бытовую технику, холодильник снаружи
                li.support__content__list__item + Протереть микроволновую печь снаружи
                li.support__content__list__item + Помыть раковину на кухне, смеситель, столешницу и варочную панель
                li.support__content__list__item + Помыть и продезинфицировать душевую кабину, ванну, сантехнику, смесители
                li.support__content__list__item + Вымыть унитаз
                li.support__content__list__item + Протереть шкафчики в ванной комнате снаружи и открытые полки
                li.support__content__list__item + Протереть стиральную машину
                li.support__content__list__item + Протереть все двери и дверные проемы, наличники, продезинфицировать дверные ручки, выключатели
                li.support__content__list__item + Произвести сухую уборку напольных и ковровых покрытий, вымыть пол
            .support__content__subtitle - НЕ входит удаление сложных загрязнений.

.support(id="general")
    .support__body
        .support__content
            a.support__content__close(href="#header")
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.6"><path d="M31.5513 2.84106L29.3409 0.656839C28.7427 0.0587079 27.7545 0.0587079 27.1304 0.656839L16.104 11.683L4.86976 0.448793C4.27137 -0.149598 3.28315 -0.149598 2.65928 0.448793L0.448793 2.65928C-0.149598 3.25741 -0.149598 4.24562 0.448793 4.86976L11.6572 16.0782L0.656839 27.1306C0.0587079 27.7288 0.0587079 28.717 0.656839 29.3411L2.86732 31.5516C3.46545 32.1497 4.45367 32.1497 5.07781 31.5516L16.104 20.5252L27.1304 31.5516C27.7285 32.1497 28.7167 32.1497 29.3409 31.5516L31.5513 29.3411C32.1495 28.743 32.1495 27.7548 31.5513 27.1306L20.4989 16.1042L31.5253 5.07807C32.1495 4.45341 32.1495 3.46519 31.5513 2.84106Z" fill="white"/></g></svg>
            .support__content__title Генеральная уборка
            .support__content__txt На генеральную уборку приезжает клинер и менеджер, привозят с собой всё необходимое оборудование: 
            ul.support__content__list
                li.support__content__list__item + комплект профессиональной химии
                li.support__content__list__item + протирочный материал ( комплект салфеток, согласно цветовому кодированию) 
                li.support__content__list__item + уборочный инвентарь ( швабры, мопы, ведро)
                li.support__content__list__item + пылесос 
                li.support__content__list__item + пароочиститель
                li.support__content__list__item + стремянку
            .support__content__subtitle Что входит в уборку комнат и коридора:
            ul.support__content__list
                li.support__content__list__item + Собрать и вынести мусор
                li.support__content__list__item + Обеспылить стены и потолки
                li.support__content__list__item + Помыть все осветительные приборы( несложной конструкции- ракушка, круг, шар; хрустальные люстры и люстры сложной конструкции оплачиваются по доп. прайсу)
                li.support__content__list__item + Протереть подоконники
                li.support__content__list__item + Промыть радиаторы
                li.support__content__list__item + Вытереть пыль со всех элементов декора и интерьера, с корпусной мебели, техники расставить вещи по местам
                li.support__content__list__item + Почистить зеркала и стеклянные поверхности 
                li.support__content__list__item + Собрать и сложить одежду
                li.support__content__list__item + Отодвинуть нетяжелую мебель (с разрешения клиента) и устранить загрязнения за ними
                li.support__content__list__item + Пропылесосить всю мягкую мебель
                li.support__content__list__item + Произвести сухую уборку напольных и ковровых покрытий
                li.support__content__list__item + Помыть двери, дверной проем, наличники, продезинфицировать дверные ручки
                li.support__content__list__item + Протрем плинтуса и вымоем пол
            .support__content__subtitle Что входит в уборку ванной комнаты и санузла: 
            ul.support__content__list
                li.support__content__list__item + Собрать и вынести мусор
                li.support__content__list__item + Помыть плитку от потолка до пола
                li.support__content__list__item + Помыть вентиляционные решетки
                li.support__content__list__item + Протереть от пыли светильники, розетки, стеклянные поверхности
                li.support__content__list__item + Помыть стены, двери, дверной проем, наличники, продезинфицировать дверные ручки и выключатели
                li.support__content__list__item + Помыть шкафчики снаружи и все открытые полки
                li.support__content__list__item + Протереть стиральную машину и за ней
                li.support__content__list__item + Помыть и продезинфицировать душевую кабину, ванну,сантехнику, смеситель, удалить водный камень
                li.support__content__list__item + Помыть унитаз, удалить мочевой камень
                li.support__content__list__item + Произвести сухую уборку напольных и ковровых покрытий и вымыть пол
            .support__content__subtitle Что входит в уборку кухни: 
            ul.support__content__list
                li.support__content__list__item + Собрать и вынести мусор, заменить мусорный пакет 
                li.support__content__list__item + Обеспылить стены и потолки
                li.support__content__list__item + Очистить подоконные радиаторы и протереть подоконник.
                li.support__content__list__item + Убрать пыль со всех доступных поверхностей
                li.support__content__list__item + Очистить от жира кухонный фасад, фартук, вытяжку
                li.support__content__list__item + Помыть шкафчики снаружи и все открытые полки
                li.support__content__list__item + Помыть посуду в раковине
                li.support__content__list__item + Протереть бытовую технику 
                li.support__content__list__item + Помыть холодильник снаружи 
                li.support__content__list__item + Помыть микроволновку снаружи
                li.support__content__list__item + Помыть раковину, смеситель, столешницу и варочную панель
                li.support__content__list__item + Помыть двери, дверной проем, наличники, продезинфицировать дверные ручки и выключатели
                li.support__content__list__item + Произвести сухую уборку напольных и ковровых покрытий,вымыть пол.

.support(id="after")
    .support__body
        .support__content
            a.support__content__close(href="#header")
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.6"><path d="M31.5513 2.84106L29.3409 0.656839C28.7427 0.0587079 27.7545 0.0587079 27.1304 0.656839L16.104 11.683L4.86976 0.448793C4.27137 -0.149598 3.28315 -0.149598 2.65928 0.448793L0.448793 2.65928C-0.149598 3.25741 -0.149598 4.24562 0.448793 4.86976L11.6572 16.0782L0.656839 27.1306C0.0587079 27.7288 0.0587079 28.717 0.656839 29.3411L2.86732 31.5516C3.46545 32.1497 4.45367 32.1497 5.07781 31.5516L16.104 20.5252L27.1304 31.5516C27.7285 32.1497 28.7167 32.1497 29.3409 31.5516L31.5513 29.3411C32.1495 28.743 32.1495 27.7548 31.5513 27.1306L20.4989 16.1042L31.5253 5.07807C32.1495 4.45341 32.1495 3.46519 31.5513 2.84106Z" fill="white"/></g></svg>
            .support__content__title Уборка после ремонта
            .support__content__txt На уборку после ремонта приезжают 2 клинера и менеджер, привозят с собой всё необходимое оборудование:
            ul.support__content__list
                li.support__content__list__item + комплект профессиональной химии
                li.support__content__list__item + протирочный материал ( комплект салфеток, согласно цветовому кодированию) 
                li.support__content__list__item + уборочный инвентарь ( швабры, мопы, ведро)
                li.support__content__list__item + пылесос для послестроительной уборки 
                li.support__content__list__item + пароочиститель
                li.support__content__list__item + стремянку
            .support__content__subtitle Что входит в уборку после ремонта:
            ul.support__content__list
                li.support__content__list__item + Сбор и вынос мусора до 5 кг 
                li.support__content__list__item + Удаление с поверхностей остатков строительных смесей, цемента и пр.
                li.support__content__list__item + Очищение осветительных приборов 
                li.support__content__list__item + Обеспыливание стен и потолка 
                li.support__content__list__item + Очищение радиаторов с помощью парогенератора
                li.support__content__list__item + Обеспыливание всех элементов декора и интерьера
                li.support__content__list__item + Очищение зеркал и стеклянных поверхностей
                li.support__content__list__item + Очищение дверей, дверного проема , наличников , дезинфекция дверных ручек
                li.support__content__list__item + Мытье и дезинфекция душевой кабины, ванны, сантехники, смесителей.
                li.support__content__list__item + Устранение строительной пыли с кухонной мебели, внутри и снаружи. 
                li.support__content__list__item + Сухая уборка напольных покрытий и мытьё пола 
            .support__content__txt Окончательная стоимость определяется менеджером до начала уборки и складывается из характера загрязнений и площади помещения. 
            .support__content__txt Выезд менеджера для оценки стоимости и подбора химии для уборки<br><span>БЕСПЛАТНО!</span>
            .support__content__txt Уборка перед выпиской ( рождение ребёнка) входит все , что в генеральную только эко средствами для уборки и это плюс <span>20%</span> к стоимости. 
                
.support(id="windows")
    .support__body
        .support__content
            a.support__content__close(href="#header")
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.6"><path d="M31.5513 2.84106L29.3409 0.656839C28.7427 0.0587079 27.7545 0.0587079 27.1304 0.656839L16.104 11.683L4.86976 0.448793C4.27137 -0.149598 3.28315 -0.149598 2.65928 0.448793L0.448793 2.65928C-0.149598 3.25741 -0.149598 4.24562 0.448793 4.86976L11.6572 16.0782L0.656839 27.1306C0.0587079 27.7288 0.0587079 28.717 0.656839 29.3411L2.86732 31.5516C3.46545 32.1497 4.45367 32.1497 5.07781 31.5516L16.104 20.5252L27.1304 31.5516C27.7285 32.1497 28.7167 32.1497 29.3409 31.5516L31.5513 29.3411C32.1495 28.743 32.1495 27.7548 31.5513 27.1306L20.4989 16.1042L31.5253 5.07807C32.1495 4.45341 32.1495 3.46519 31.5513 2.84106Z" fill="white"/></g></svg>
            .support__content__title Мойка окон
            .support__content__txt-left Привозим все необходимое оборудование: 
            ul.support__content__list
                li.support__content__list__item + комплект профессиональной химии
                li.support__content__list__item + набор салфеток 
                li.support__content__list__item + уборочный инвентарь ( швабры, мопы, ведро)
                li.support__content__list__item + пылесос для послестроительной уборки 
                li.support__content__list__item + пароочиститель
                li.support__content__list__item + при необходимости Клинер привозит с собой стремянку
            .support__content__subtitle Что входит в мойку окон:
            ul.support__content__list
                li.support__content__list__item + Очищение стекла от различного вида загрязнений
                li.support__content__list__item + Очищение рамы
                li.support__content__list__item + Очищение подоконника и откосов
            .support__content__subtitle Стоимость работ: 
            ul.support__content__list
                li.support__content__list__item 1 - створчатое окно - 250 руб.
                li.support__content__list__item 2 - створчатое - 480 руб.
                li.support__content__list__item 3 - створчатое - 600 руб.
                li.support__content__list__item Балконная группа (дверь+окно) -от 750 руб.
            .support__content__txt Окна после ремонта со следами затирки, цемента, скотча, защитной плёнки, стоимость увеличивается на <span>30%</span>
            .support__content__txt Мойка окон в зимний период <span>+70%</span> к прайсу
            .support__content__subtitle Дополнительные услуги не входящие в комплекс:
            ul.support__content__list
                li.support__content__list__item Помыть холодильник внутри- 500 руб.
                li.support__content__list__item Помыть микроволновую печь внутри - 300 руб.
                li.support__content__list__item Помыть духовой шкаф внутри - 500 руб. 
                li.support__content__list__item Помыть стиральную машину - 500 руб.
                li.support__content__list__item Помыть внутри кухонных шкафов - от 80 руб. 1 шкаф 
                li.support__content__list__item Мытьё люстры сложной конструкции от 800₽ за 1 шт 
            .support__content__txt Очищение межплиточных швов <span>+ 20%</span> к прайсу

.support(id="office")
    .support__body
        .support__content
            a.support__content__close(href="#header")
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.6"><path d="M31.5513 2.84106L29.3409 0.656839C28.7427 0.0587079 27.7545 0.0587079 27.1304 0.656839L16.104 11.683L4.86976 0.448793C4.27137 -0.149598 3.28315 -0.149598 2.65928 0.448793L0.448793 2.65928C-0.149598 3.25741 -0.149598 4.24562 0.448793 4.86976L11.6572 16.0782L0.656839 27.1306C0.0587079 27.7288 0.0587079 28.717 0.656839 29.3411L2.86732 31.5516C3.46545 32.1497 4.45367 32.1497 5.07781 31.5516L16.104 20.5252L27.1304 31.5516C27.7285 32.1497 28.7167 32.1497 29.3409 31.5516L31.5513 29.3411C32.1495 28.743 32.1495 27.7548 31.5513 27.1306L20.4989 16.1042L31.5253 5.07807C32.1495 4.45341 32.1495 3.46519 31.5513 2.84106Z" fill="white"/></g></svg>
            .support__content__title Уборка офисов и коммерческих помещений
            .support__content__txt-left Ориентировочный список работ: 
            ul.support__content__list
                li.support__content__list__item + Влажная уборка твердых полов
                li.support__content__list__item + Уборка ковролина пылесосом 
            .support__content__subtitle ЕЖЕДНЕВНО: 
            ul.support__content__list
                li.support__content__list__item + Сбор мусора из мусорных корзин и замена полиэтиленовых пакето
                li.support__content__list__item + Подготовка и вынос мусора к местам накопления и загрузка в контейнеры
                li.support__content__list__item + Удаление пыли с горизонтальных поверхностей мебели, расположенной на высоте менее двух метров от пола без перемещения настольных предметов и документов
                li.support__content__list__item + Протирка дверных ручек и удаление локальных загрязнений с дверных проемов
                li.support__content__list__item + Удаление локальных загрязнений с остекления интерьера (зеркала, перегородки, дверцы шкафов, за исключением окон) с использованием ручного инвентаря, расположенных на высоте менее двух метров от пола
                li.support__content__list__item + Протирка подоконников внутри помещений
                li.support__content__list__item + Удаление локальных загрязнений со стен (если позволяет характер покрытия)
                li.support__content__list__item + Удаление локальных загрязнений с батарей, радиаторов, декоративных экранов радиаторов.
                li.support__content__list__item + Комплексная уборка санузлов по графику в течение дня (чистка сантехники, натирка зеркал, протирка унитазов, раковин, сбор мусорных мешков, мытье полов, замена расходных материалов)
                li.support__content__list__item + Комплексная уборка комнаты для приема пищи (протирка горизонтальных поверхностей, столов, удаление локальных загрязнений с кухонного гарнитура, сбор мусорных мешков, мытье полов, мытье посуды, протирка микроволновых печей)
            .support__content__subtitle По мере необходимости: 
            ul.support__content__list
                li.support__content__list__item + Уборка пыли с мебели на высоте более 2-х метров. 2 раза в месяц
                li.support__content__list__item + Протирка плинтусов  1 раз в месяц 
                li.support__content__list__item + Протирка внутри холодильников 
                li.support__content__list__item + Мойка изнутри микроволновой печи
                li.support__content__list__item + Мойка и дезинфекция мусорных корзин 
                li.support__content__list__item + Очистка корпусов инженерного оборудования (вентиляционные короба и решетки, электрические короба, выключатели, розетки, радиаторы отопления, трубы водоснабжения и отопления) на высоте не более 2 метров
            .support__content__txt + Очистка корпусов инженерного оборудования (вентиляционные короба и решетки, электрические короба, выключатели, розетки, радиаторы отопления, трубы водоснабжения и отопления) на высоте не более 2 метров
            .support__content__txt Выезд на обЪект для составления ТЗ и расчета сметы - <span>БЕСПЛАТНО!</span>
           
.popupcases(id="popupcases")
    .popupcases__body
        .popupcases__content
            a.popupcases__content__close(href="#header")
                 <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.6"><path d="M31.5513 2.84106L29.3409 0.656839C28.7427 0.0587079 27.7545 0.0587079 27.1304 0.656839L16.104 11.683L4.86976 0.448793C4.27137 -0.149598 3.28315 -0.149598 2.65928 0.448793L0.448793 2.65928C-0.149598 3.25741 -0.149598 4.24562 0.448793 4.86976L11.6572 16.0782L0.656839 27.1306C0.0587079 27.7288 0.0587079 28.717 0.656839 29.3411L2.86732 31.5516C3.46545 32.1497 4.45367 32.1497 5.07781 31.5516L16.104 20.5252L27.1304 31.5516C27.7285 32.1497 28.7167 32.1497 29.3409 31.5516L31.5513 29.3411C32.1495 28.743 32.1495 27.7548 31.5513 27.1306L20.4989 16.1042L31.5253 5.07807C32.1495 4.45341 32.1495 3.46519 31.5513 2.84106Z" fill="white"/></g></svg>
            .popupcases__content__cases
                .popupcases__content__case
                    img(src="../img/case-1.png", alt="")
                .popupcases__content__case
                    img(src="../img/case-2.png", alt="")
                .popupcases__content__case
                    img(src="../img/case-3.png", alt="")


