.reviews
    .reviews__container 
        .reviews__title отзывы
        .reviews__subtitle В качестве нашей работы вы можете убедиться сами
        .reviews__reviews
            .reviews__reviews__review
                .reviews__reviews__review__txt Доброго Вам дня! Большое вам спасибо за интерес к обратной связи!! И я с уверенностью могу сказать, что результат вашей Уборки просто бесподобен! Чувствуется профессионализм и грамотный подход на всех уровнях. Все было сделано качественно и быстро, однозначно буду обращаться снова и снова! И друзьям от души порекомендую!!!!
                .reviews__reviews__review__name Марина
                .reviews__reviews__review__logo
                    img(src="../img/reviews-logo.png", alt="")
            .reviews__reviews__review.reviews__reviews__review-right
                .reviews__reviews__review__txt Я вам даже только за микроволновку с холодильником могу отдельное огромнейшее спасибо сказать.У меня так чисто не было с момента моего приезда сюда. нет слов) вы даже не представляете как мне облегчили сейчас жизнь))))) Огромное спасибо!)) Обязательно к вам буду обращаться)))
                .reviews__reviews__review__name владимир
                .reviews__reviews__review__logo-left
                    img(src="../img/reviews-logo.png", alt="")
            .reviews__reviews__review
                .reviews__reviews__review__txt Ребята, огромное спасибо за ваш труд, подход и абсолютную клиентоориентированность. Желаю вам развития и процветания. Теперь если уборка, то только к вам и с вами.
                .reviews__reviews__review__name светлана
                .reviews__reviews__review__logo
                    img(src="../img/reviews-logo.png", alt="")
            .reviews__reviews__review.reviews__reviews__review-right
                .reviews__reviews__review__txt Спасибо за качественную уборку. Все просто отлично! Девочки , как пчелки трудились с утра и до самого вечера, убирая каждый уголок. Я очень довольна результатом. Буду вас рекомендовать знакомым. 
                .reviews__reviews__review__name ирина
                .reviews__reviews__review__logo-left
                    img(src="../img/reviews-logo.png", alt="")
.reviews-slider
    .reviews-slider__container
        .reviews-slider__title отзывы
        .reviews-slider__subtitle В качестве нашей работы вы можете убедиться сами
        .slider
            .slider__slide
                .slider__slide__txt Доброго Вам дня! Большое вам спасибо за интерес к обратной связи!! И я с уверенностью могу сказать, что результат вашей Уборки просто бесподобен! Чувствуется профессионализм и грамотный подход на всех уровнях. Все было сделано качественно и быстро, однозначно буду обращаться снова и снова! И друзьям от души порекомендую!!!!
                .slider__slide__name Марина
                .slider__slide__logo
                    img(src="../img/slider-logo.png", alt="")
            .slider__slide
                .slider__slide__txt Я вам даже только за микроволновку с холодильником могу отдельное огромнейшее спасибо сказать.У меня так чисто не было с момента моего приезда сюда. нет слов) вы даже не представляете как мне облегчили сейчас жизнь))))) Огромное спасибо!)) Обязательно к вам буду обращаться)))
                .slider__slide__name владимир
                .slider__slide__logo
                    img(src="../img/slider-logo.png", alt="")
            .slider__slide
                .slider__slide__txt Ребята, огромное спасибо за ваш труд, подход и абсолютную клиентоориентированность. Желаю вам развития и процветания. Теперь если уборка, то только к вам и с вами.
                .slider__slide__name светлана
                .slider__slide__logo
                    img(src="../img/slider-logo.png", alt="")
            .slider__slide
                .slider__slide__txt Ребята, огромное спасибо за ваш труд, подход и абсолютную клиентоориентированность. Желаю вам развития и процветания. Теперь если уборка, то только к вам и с вами.
                .slider__slide__name ирина
                .slider__slide__logo
                    img(src="../img/slider-logo.png", alt="")


                
