.services
    .services__container
        .services__title виды услуг
        .services__subtitle весь спектр клининговых услуг
        .services__double
            .services__double__block
                .services__double__block__image
                    img(src="../img/serv-1.png", alt="")
                .services__double__block__title Поддерживающая уборка 
                .services__double__block__subtitle от 50₽ кв м
                .services__double__block__button
                    a.popup__open__link(href="#support")
                        button подробнее
            .services__double__block
                .services__double__block__image
                    img(src="../img/serv-2.png", alt="")
                .services__double__block__title Генеральная уборка
                .services__double__block__subtitle от 100₽ кв м
                .services__double__block__button
                    a.popup__open__link(href="#general")
                        button подробнее
        .services__double
            .services__double__block
                .services__double__block__image
                    img(src="../img/serv-3.png", alt="")
                .services__double__block__title Уборка после ремонта
                .services__double__block__subtitle от 120₽ кв м
                .services__double__block__button
                    a.popup__open__link(href="#after")
                        button подробнее
            .services__double__block
                .services__double__block__image
                    img(src="../img/serv-4.png", alt="")
                .services__double__block__title Мойка окон
                .services__double__block__button-2
                    a.popup__open__link(href="#windows")
                        button подробнее
        .services__one
            .services__one__image
                img(src="../img/serv-5.png", alt="")
            .services__one__title Уборка офисов и коммерческих помещений
            .services__one__subtitle  от 80₽ кв м 
            .services__one__button
                a.popup__open__link(href="#office")
                    button подробнее
        .services__one-mobile
            .services__one-mobile__image
                img(src="../img/serv-6.png", alt="")
            .services__one-mobile__title Уборка офисов и коммерческих помещений
            .services__one-mobile__subtitle  от 80₽ кв м 
            .services__one-mobile__button
                a.popup__open__link(href="#office")
                    button подробнее







    